$color-red: #d35749;
$color-red-2: #e17f64;
$color-black: black;
$color-gray: #99a5a7;
$color-blue: #519bd7;
$color-gray-l: #cecaca9f;
$color-gray-2:  #eee;

.bg-main {
  background-color: $color-red;
}

.bg-color-red-2 {
  background-color: $color-red-2;
}

.bg-color-gray {
  background-color: $color-gray;
}

.color-gray-l {
  background-color: $color-gray-l;
}

.color-gray-2 {
  background-color: $color-gray-2;
}

.bg-color-blue {
  background-color: $color-blue;
}

.bg-color-white {
  background-color: white;
}

.main-color {
  color: $color-red;
}

.color-gray {
  color: $color-gray;
}

.color-blue {
  color: $color-blue;
}
